.scroll-bound {
    height: 300vh;
    /* Esto puede ser ajustado dinámicamente */
}

.scroll-bound .image-sequence {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.image-sequence img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}